body{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(247, 220, 150);
    align-content: center;
    text-align: center;
}

main {
    margin: auto;
    padding-top: 1%;
    padding-bottom:1%;
    padding-right: 1%;
    padding-left: 1%;
    text-align: center;
    font-size: 24px;
    justify-content: space-between;
}

button {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ddd;
  text-align: center;
  font-size: large;
  transition: background-color 0.5s ease-in-out;
  text-decoration: none;
  color: black;
  border: none;
}

input {
  padding-top: 12px;
  padding-bottom: 10px;
  border: black;
  border-style: solid;
}

#instructions {
  padding: 1%;
}

#flashcards {
    width: 45%;
    margin: auto;
    padding: 10%;
    background-size: cover;
    text-align: center;
    font-size: 48px;
    justify-content: space-around;
    position: relative;
}

.front {
  background-color: none;
  background-image: url('../img/tan-index-card.png');
}

.back {
  background-image: none;
  background-color: white;
}

#newCards {
  padding:2%;
  background-color: grey;
}

#termInput {
  margin: 1%;
  padding-bottom: 2%;
  display: center;
  align-items: center;
  vertical-align: middle;
  
}

h1 {
    font-size: 72px;
    padding-bottom: 2%;
}

nav {
    background-color: grey;
}
  
a {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 10px;
    background-color: #ddd;
    text-align: center;
    transition: background-color 0.5s ease-in-out;
    text-decoration: none;
    color: black;
    font-size: large;
}
  
a:hover, #info:hover {
  background-color: #ccc;
}

img {
  height: fit-content;
}

footer {
  padding: 2%;
}  